body {
    margin: 0%;

}

.divFondo {
    background-image: url(Images/Fondo.jpg);
    align-items: center;
}

.divBlanca {
    height: 300px;
}

.imgiphone {
    float: right;
    margin-right: 15%;
    margin-top: 20px;
    width: 150px;
}

.divTextos {
    float: left;
    position: relative;
    margin-top: 60px;
    margin-left: 20%;
    width: 237px;
}

.holders{
    margin-top: 7%;
    width: 25%;
}

.H400 {
    color: white;
    height: 400px;
}

.H500 {
    height: 500px;
}

.mensajes{
    position: absolute;
    margin-top: 3%;
    margin-left: 50%;
}

.izimg {
    margin-left: 25%;
}


.deimg {
    margin-left: 2%;
}