body {
    padding-left: 20px;
    padding-right: 20px;
}

header {
    background-color: yellow;
    text-align: center;
}

nav {
    background-color: orange;
    float: left;
    width: 200px;
}

footer {
    background-color: pink;
    clear: both;
}

nav ul {
    list-style-type: none;
    padding-left: 10px;
}

header,nav,section,article,footer,h1,h2,p {
    margin: 10px 0;
}

section {
    margin-left: 220px;
}

nav select {
    display: none;
}

article {
    background-color: blue;
    color: white;
    float: left;
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0;
}



header,
nav,
section,
article,
footer {
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    header {
        text-align: left;
    }
    nav {
        float: none;
        width: auto;
    }
    nav select {
        display: inline;
    }
    nav ul {
        display: none;
    }
    section {
        margin-left: 0;
    }
    article {
        float: none;
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }
}
@media screen and (max-width: 480px) {
    header h2 {
        display: none;
    }
}